* {
box-sizing: border-box;
}

html {
    font-size: .5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    position: fixed;
    display: flex;
    background-color: #62757f;
    top: 0px;
    width: 100%;
    height: 5vh;
    padding-left: 1em;
    color: white;
    text-shadow: 2px 2px black;
}

p {
    margin: 2px;
    text-align: center
}

h3 {
    font-size: 1.75em;
}

img {
    width: 63px;
    height: 90px;
    margin: 1px;
}

.a_bit_bigger {
    width: 85px;
    height: 126px;
}

.bigger_image {
    width: 174px;
    height: 232px;
}

button {
    width: 12px;
    padding: .75em;
    height: 84px;
    margin: 1px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.background_red {
    animation: reddish .5s;
}

@keyframes reddish {
    0% {background-color:red;
        color:white;}
    100% {background-color: lightgray;
        color:black;}
}

.header__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45%;
}

.header__option {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    padding-top: .5em;
}

.container__bestMovie {
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 150px;
    overflow: hidden;
    flex-direction: row;
    margin-top: 5vh;
    font-size: 1.4em;
    font-weight: bold;
}

#containers_wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.container__bestMovie__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 68%;
}

.container__bestMovie__title--red {
    padding-right: 10px;
    padding-left: 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
}

.container__bestMovie__photo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 91px;
    height:100%;
}

#best {
    width: 100%;
    height: 100%;
}

.container_for_seven {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 95vw;
    height: 195px;
    overflow: hidden;
}


.container__title {
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.container__movies {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 132px;
    width: 100%;
}


#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

#modal_content {
    background-color: rgba(0,0,0,0.7);
    margin: 15% auto;
    padding: 5%;
    width: 80%;
    color: white;
    font-size: 2em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
  }
    
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  @media only screen and (min-width:667px) {
    img {
        width: 100px;
        height: 130px;
        margin: 1px;
    }

    .container_for_seven {
        margin: 2vh;

    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    
    .a_bit_bigger {
        width: 100px;
        height: 150px;
    }
        
    .bigger_image {
        width: 275px;
        height: 400px;
    }

    #modal_content {
        margin: 2.5% auto;
        width: 95%;
        height: 95%;
        font-size: 3em;
    }


    button {
        padding: 1em;
    }


    .container__bestMovie {

        font-size: 1.75em;
      
    }
  }